*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#1e293b;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
width:350px;
background:#fff;
border-radius:20px;
padding:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

header{
text-align:center;
margin-bottom:15px;
}

header h1{
color:#1e293b;
}

.pantalla{
display:none;
}

.activa{
display:block;
}

.tarjeta{
text-align:center;
background:#f1f5f9;
padding:15px;
border-radius:15px;
}

.tarjeta img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

button{
display:block;
width:100%;
margin:10px 0;
padding:10px;
border:none;
border-radius:10px;
background:#3b82f6;
color:white;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}
